.itemList {
    border-top: 1px solid gray;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 30px;
}

.continue {
    text-decoration: none;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    color: white;
    font-size: large;
    font-weight: bold;
}

.continueContainer {
    background-color: rgb(96, 209, 96);
    width: 150px;
    height: 40px;
    margin: auto;
}